<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/collection"></ion-back-button>
    </ion-buttons>
    <ion-title>MONEDAS</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" class="add-button" (click)="addCoin()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="coins-content">
  <div class="content-container">
    
    <!-- Categories Section -->
    <div class="categories-section">
      <h2 class="section-title">PAISES</h2>
      
      <ion-grid class="categories-grid">
        <ion-row>
          <ion-col size="6">
            <ion-button 
              expand="block" 
              fill="clear" 
              class="category-button"
              (click)="onSelectCountry(38)">
              Chile
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button 
              expand="block" 
              fill="clear" 
              class="category-button"
              (click)="onSelectCountry(9)">
              Argentina
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button 
              expand="block" 
              fill="clear" 
              class="category-button"
              (click)="onSelectCountry(26)">
              Brasil
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button 
              expand="block" 
              fill="clear" 
              class="category-button"
              (click)="onSelectCountry(142)">
              Perú
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button 
              expand="block" 
              fill="clear" 
              class="category-button"
                (click)="goToFilteredCollection(60)">
              Estados Unidos
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
