<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home_icon.svg" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calculator">
      <ion-icon src="assets/icon/calculator.svg" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="collection">
      <ion-icon src="assets/icon/collection.svg" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="currencies">
      <ion-icon src="assets/icon/currency.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="marketplace">
      <ion-icon src="assets/icon/cart.svg"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
