<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/auth/login"
        text=""
        class="back-button"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRARSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">
    <div class="form-section">
      <ion-item lines="none" class="input-item">
        <ion-icon  slot="start"></ion-icon>
        <ion-input placeholder="Nombre" type="text" class="custom-input">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon slot="start"></ion-icon>
        <ion-input placeholder="Apellido" type="text" class="custom-input">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon slot="start"></ion-icon>
        <ion-input placeholder="Email" type="email" class="custom-input">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon slot="start"></ion-icon>
        <ion-input
          placeholder="Contraseña"
          type="password"
          class="custom-input"
        >
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon slot="start"></ion-icon>
        <ion-input
          placeholder="Repetir Contraseña"
          type="password"
          class="custom-input"
        >
        </ion-input>
      </ion-item>

      <div class="terms-text">
        <ion-text color="medium">
          Al registrarte aceptas nuestros términos y condiciones
        </ion-text>
      </div>

      <ion-button expand="block" class="register-button" (click)="submitRegister()">
        CREAR CUENTA
      </ion-button>
    </div>

    <div class="bottom-section">
      <div class="have-account-text">
        <ion-text color="medium"> ¿Ya tienes una cuenta? </ion-text>
      </div>

      <ion-button expand="block" fill="outline" class="login-button" (click)="goBack()">
        INICIAR SESIÓN
      </ion-button>
    </div>
  </div>
</ion-content>
