<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title >INICIAR SESIÓN </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">

    <img src="assets/Logo-beige.png" alt="" class="logo" >

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-section">
      <ion-item lines="none" class="input-item">
        <ion-icon slot="start"></ion-icon>
        <ion-input 
          placeholder="Email o Nombre de Usuario"
          type="text"
          class="custom-input">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon slot="start"></ion-icon>
        <ion-input 
          placeholder="••••••••"
          type="password"
          class="custom-input">
        </ion-input>
      </ion-item>

      <div class="forgot-password">
        <ion-text>
          ¿Olvidaste tu contraseña? Haz click <span class="link-text" (click)="onForgotPassword()">Aquí</span>
        </ion-text>
      </div>

      <ion-button 
        expand="block" 
        class="continue-button"
        (click)="onLogin()">
        CONTINUAR
      </ion-button>

      <div class="social-login">
        <ion-button 
          fill="outline" 
          shape="round" 
          class="social-button">
          <img src="assets/icon/logo-facebook.svg" alt="" class="social-icon" slot="icon-only">
        </ion-button>
        <ion-button 
          fill="outline" 
          shape="round" 
          class="social-button">
          <img src="assets/icon/logo-google.svg" alt="" class="social-icon" slot="icon-only">
        </ion-button>
      </div>
    </div>
    </form>
    <div class="bottom-section">
      <div class="no-account-text">
        <ion-text color="medium">
          ¿No tienes una cuenta?
        </ion-text>
      </div>
      
      <ion-button 
        expand="block" 
        fill="outline" 
        class="create-account-button"
        (click)="onRegister()">
        REGISTRAR
      </ion-button>
    </div>

  </div>
</ion-content>